@model Teste_de_aplicação.Models.Users

@{
    ViewBag.Title = "Detail";
}

<div class="row">
    <div class="col-sm-8">
        <h5 class="m-0 font-weight-bold text-primary">Detail</h5>
    </div>
</div>


    <div>
        <h4>Users</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoleType.RoleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleType.RoleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserStatus.StatusDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserStatus.StatusDesc)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Back to List", "Index", "Users", new { @class="btn btn-info"})
    </p>


