@model IEnumerable<Teste_de_aplicação.Models.Club>

@{
    ViewBag.Title = "Index";
}
<p id="txt"></p>
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="m-0 font-weight-bold text-primary">Club List</h5>
            </div>
            <div class="col-sm-4">
                @{ 
                    if (Session["Role"].ToString() == "Administrator") {
                <a href="@Url.Action("Create", "Clubs")" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fa fa-user-plus"></i>
                    </span>
                    <span class="text">Add Club</span>
                </a>
                    }
                    }

            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">


                <div class="row">
                    <div class="col-sm-12">
                        <table table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending" style="width: 90px;">Name Club</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Date of Birth: activate to sort column ascending" style="width: 90px;">Country</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Club: activate to sort column ascending" style="width: 90px;">City</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" style="width: 90px;">Price Merch</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" style="width: 65px;"></th>


                            </thead>

                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Name Club</th>
                                    <th rowspan="1" colspan="1">Country</th>
                                    <th rowspan="1" colspan="1">City</th>
                                    <th rowspan="1" colspan="1">Price Merch</th>

                                </tr>
                            </tfoot>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row" class="odd">
                                        <td>@Html.DisplayFor(modelItem => item.ClubName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Country.CountryName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CityClub)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PriceMerch) M€</td>
                                        <td>

                                          
                                            <a href="@Url.Action("Edit", new { id = item.ClubID })"> 
                                            @if (Session["Role"].ToString() == "Administrator"){
                                                <i class="fa fa-pencil"></i>}</a>
                                            <a href="@Url.Action("Delete", new { id = item.ClubID })">
                                            @if (Session["Role"].ToString() == "Administrator"){
                                                 <i class="fa fa-times"></i>}</a> 
                                            
                                            <a href="@Url.Action("Details", new { id = item.ClubID })"> <i class="fa fa-info-circle"></i> </a>


                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
