
@model Teste_de_aplicação.Models.Manager

@{
    ViewBag.Title = "Details Manager";
}


<div class="row">
    <div class="col-sm-8">
        <h5 class="m-0 font-weight-bold text-primary">Manager Profile</h5>
    </div>
</div>

    <div class="container emp-profile"> 
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-8">

                    <img src="@Html.DisplayFor(model => model.GetImage)" alt="" width=139 height=181/>
                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h4>
                            @Html.DisplayFor(model => model.NickName)
                        </h4>
                        <h5>
                            @Html.DisplayFor(model => model.Club.ClubName)
                        </h5>
                        <p class="proile-rating">
                            AGE :
                            <spam>

                                @Html.DisplayFor(model => model.Age)

                            </spam> 
                        </p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="col-md-2">

                    @if (Session["Role"].ToString() == "Administrator")
                    {
                        @Html.ActionLink("Edit Manager", "Edit", new { id = Model.ManagerID }, new { @class = "btn btn-warning" })
                    }

                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>Related Links</p>
                        <a href="https://www.fifa.com/" target="_blank">FIFA</a><br />
                        <a href="https://www.uefa.com/" target="_blank">UEFA</a><br />
                        <a href=""></a><br />
                        <br />

                        @Html.ActionLink("Back to List", "Index", "Managers", new { @class = "btn btn-info" })
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name: </label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.NickName)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Full Name:</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        @Html.DisplayFor(model => model.FirstName) <smap>
                                        </smap> @Html.DisplayFor(model => model.LastName)
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date Of Birth:</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.DateOfBirth)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Country:</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        @Html.DisplayFor(model => model.Country.CountryName)
                                        <img src="@Html.DisplayFor(model => model.GetFlagCountry)"/>
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Club:</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.Club.ClubName)</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>







    </div>
